<div class="row">
    <div>
        <div class="col-md-5">
            <h2>Товары без типа</h2>

            <select class="list" data-ng-model="name" size="20" data-ng-options="item as item for item in productData.names" style="height: 400px;">
            </select>
        </div>

        <div class="col-md-2 text-center" style="padding-top: 200px">
            <div>
                <button class="btn btn-default glyphicon glyphicon-arrow-right" data-ng-click="save()"></button>
            </div>
            <div style="margin-top: 10px;">
                <button class="btn btn-default glyphicon glyphicon-arrow-left" data-ng-click="delete()"></button>
            </div>
        </div>

        <div class="col-md-5">
            <h2>Типы</h2>

            <select class="form-control" data-ng-model="typeId" ng-options="item.id as item.name for item in types" data-ng-change="refresh()">
            </select>

            <select class="list" data-ng-model="product" size="18" data-ng-options="item as item.name for item in products" style="margin-top: 5px; height: 360px;">
            </select>
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 10px;">
        <a class="btn btn-primary" href="#/option">Назад</a>
    </div>
</div>