<div class="row">
    <h1 class="text-center">Статистика</h1>

    <div class="row">
        <uib-tabset justified="true">
            <uib-tab heading="Расходы">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-3"></th>
                            <th class="col-md-6" colspan="3">Последние 3 месяца</th>
                            <th class="col-md-3"></th>
                        </tr>
                        <tr>
                            <th class="col-md-3" style="text-align: left;">Тип</th>
                            <th class="col-md-2 price">{{ ::stats.Months[2].Name }}</th>
                            <th class="col-md-2 price">{{ ::stats.Months[1].Name }}</th>
                            <th class="col-md-2 price">{{ ::stats.Months[0].Name }}</th>
                            <th class="col-md-3 price">За все время</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="stat in stats.ProductStats">
                            <td style="text-align: left;">
                                <span class="glyphicon glyphicon-{{ ::stat.Type.Code }}" aria-hidden="true"></span> 
                                {{ ::stat.Type.Name }}
                            </td>
                            <td class="price" style="{{ getStyle(stat.Color[0]) }}">
                                <a target="_blank" href="#/consumption?typeId={{ ::stat.Type.Id }}&startDate={{ ::stats.Months[2].StartDate }}&endDate={{ ::stats.Months[2].EndDate }}">
                                    {{ ::stat.Sums[0].toFixed(2) }}р.
                                    <p>{{ getPercent(stat.Sums[0], ctotal1) }}%</p>
                                </a>
                             </td>
                            <td class="price" style="{{ getStyle(stat.Color[1]) }}">
                                <a target="_blank" href="#/consumption?typeId={{ ::stat.Type.Id }}&startDate={{ ::stats.Months[1].StartDate }}&endDate={{ ::stats.Months[1].EndDate }}">
                                    {{ ::stat.Sums[1].toFixed(2) }}р.
                                    <p>{{ getPercent(stat.Sums[1], ctotal2) }}%</p>
                                </a>
                            </td>
                            <td class="price" style="{{ getStyle(stat.Color[2]) }}">
                                <a target="_blank" href="#/consumption?typeId={{ ::stat.Type.Id }}&startDate={{ ::stats.Months[0].StartDate }}&endDate={{ ::stats.Months[0].EndDate }}">                                    
                                    {{ ::stat.Sums[2].toFixed(2) }}р.
                                    <p>{{ getPercent(stat.Sums[2], ctotal3) }}%</p>
                                </a>
                            </td>
                            <th class="price total">
                                {{ ::stat.Total.toFixed(2) }}р.
                                <p>{{ (stat.Total / ctotal * 100).toFixed(2) }}%</p>
                            </th>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Итого:</th>
                            <th class="price">{{ ctotal1.toFixed(2) }}р.</th>
                            <th class="price">{{ ctotal2.toFixed(2) }}р.</th>
                            <th class="price">{{ ctotal3.toFixed(2) }}р.</th>
                            <th class="price">{{ ctotal.toFixed(2) }}р.</th>
                        </tr>
                    </tfoot>
                </table>
            </uib-tab>
            <uib-tab heading="Доходы">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-8">Тип</th>
                            <th class="col-md-4">Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="stat in stats.IncomeStats">
                            <td style="text-align: left;">{{ ::stat.IncomeType.Name }}</td>
                            <td class="price">{{ ::stat.Sum.toFixed(2) }}р.</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Итого:</th>
                            <th class="price">{{ itotal.toFixed(2) }}р.</th>
                        </tr>
                    </tfoot>
                </table>
            </uib-tab>
            <uib-tab heading="Активы">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-8">Название</th>
                            <th class="col-md-4">Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="stat in stats.ActiveStats">
                            <td style="text-align: left;">{{ ::stat.Name }}</td>
                            <td class="price">{{ ::stat.Sum.toFixed(2) }}р.</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Итого:</th>
                            <th class="price">{{ atotal.toFixed(2) }}р.</th>
                        </tr>
                    </tfoot>
                </table>
            </uib-tab>
            <uib-tab heading="Графики">
                <div class="col-lg-3 pull-right">
                    <select class="form-control" ng-model="charts.mode" ng-change="updateCharts()">
                        <option value="0">Доходы и расходы</option>
                        <option value="1">Доходы</option>
                        <option value="2">Расходы</option>
                        <option value="3">Товары</option>
                        <option value="4">Места</option>
                    </select>
                </div>
                <canvas id="line" class="chart chart-bar" chart-data="data" ng-show="charts.isBar"
                        chart-labels="labels" chart-series="series" chart-options="barOptions"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas> 
                <canvas id="line" class="chart chart-line" chart-data="data" ng-show="charts.isLine"
                        chart-labels="labels" chart-series="series" chart-options="lineOptions"
                        chart-dataset-override="datasetOverride" chart-click="onClick"></canvas> 
            </uib-tab>
        </uib-tabset>
    </div>
</div>